<div class="press-index" id="press">
    <h3>Über uns:</h3>
    <p><%= text %></p>
</div>
<div class="music">
    <h3>Unsere Musik:</h3>
    <div class="music-grid-index" id="music">
        <% musics.forEach(music => { %>
            <div class="music-grid-index-content">
                <ul>
                    <li><%= music.Title %> </li>
                    <li><iframe src="<%= music.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
        <% }) %>
    </div>
</div>
<div class="slideshow-top">
    <div class="slideshow-container1 index-member">
        <div class="member-grid" id="members">
            <% members.forEach(member => { %>
                <div class="Slides1 fade">
                    <div class="member-image-div">
                        <img class="member-image" onclick="modaldisplay(this)" id="<%= member.lastName %>" src="<%= member.memberImagePath %>">
                    </div>
                    <div id="<%= member.lastName %>_Modal" class="modal">
                        <span onclick="closemodal()" class="close">&times;</span>
                        <img class="modal-content" id="<%= member.lastName %>_img">
                        <div class="caption" id="<%= member.lastName %>_caption"></div>
                    </div>
                    <div class="member-ul-div">
                        <ul class="member-ul">
                            <li><h4>Name:</h4></li>
                            <li><%= member.firstName %> <%= member.lastName %></li>
                            <li><h4>Instrument/Rolle:</h4></li>
                            <li><%= member.instrument %></li>
                            <li><h4>Beigetreten:</h4></li>
                            <li><%= member.joined.toDateString().split(" ")[3] %></li>
                            <li><h4>Beschreibung:</h4></li>
                            <li><%= member.description %></li>
                        </ul>
                    </div>
                </div>
            <% }) %>
        </div>
        <a class="prev1" onclick="plusSlides(-1, 0)">&#10094;</a>
        <a class="next1" onclick="plusSlides(1, 0)">&#10095;</a>
    </div>
</div>
<div class="slideshow-top">
    <div class="slideshow-container2 index-image">
        <div class="image-grid" id="images">
            <% images.forEach(image => { %>
                <div class="Slides2 fade">
                    <img onclick="modaldisplay(this)" class="image-image" src="<%= image.ImagePath %>">
                </div>
                <div id="_Modal" class="modal">
                    <span onclick="closemodal()" class="close">&times;</span>
                    <img class="modal-content-image" id="_img">
                    <div class="caption" id="_caption"></div>
                </div>
            <% }) %>
        </div>
        <a class="prev2" onclick="plusSlides(-1, 1)">&#10094;</a>
        <a class="next2" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
</div>
<div class="press-index" id="contact">
    <h3>Kontakt Information:</h3>
    <p><%= contact %></p>
</div>

